{
  "printWidth": 80,
  "singleQuote": true,
  "useTabs": false,
  "tabWidth": 2,
  "arrowParens": "avoid",
  "jsxBracketSameLine": false,
  "jsxSingleQuote": false,
  "endOfLine": "lf",
  "trailingComma": "none"
}
