---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title={import.meta.env.PUBLIC_APP_NAME}>
  <div class="text-center mt-20">Pagina no encontrada</div>
  <a href="/" class="text-center mt-20 block">Volver al inicio</a>
</BaseLayout>
