---
import AppShell from '@/common/AppShell';
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title={import.meta.env.PUBLIC_APP_NAME}>
  <AppShell client:only="react">
    <div class="text-center mt-20">Home</div>
  </AppShell>
</BaseLayout>
