@font-face {
  font-family: 'Mont';
  src: url('/fonts/mont/regular/6cce6b8c74a8ac84c45963dbac1e025a.eot');
  src: url('/fonts/mont/regular/6cce6b8c74a8ac84c45963dbac1e025a.eot?#iefix')
      format('embedded-opentype'),
    url('/fonts/mont/regular/6cce6b8c74a8ac84c45963dbac1e025a.woff2')
      format('woff2'),
    url('/fonts/mont/regular/6cce6b8c74a8ac84c45963dbac1e025a.woff')
      format('woff'),
    url('/fonts/mont/regular/6cce6b8c74a8ac84c45963dbac1e025a.ttf')
      format('truetype');
}

@font-face {
  font-family: 'Mont Heavy';
  src: url('/fonts/mont/heavy/38d16ae93a514dfd43dfd4aa13f280fc.eot');
  src: url('/fonts/mont/heavy/38d16ae93a514dfd43dfd4aa13f280fc.eot?#iefix')
      format('embedded-opentype'),
    url('/fonts/mont/heavy/38d16ae93a514dfd43dfd4aa13f280fc.woff2')
      format('woff2'),
    url('/fonts/mont/heavy/38d16ae93a514dfd43dfd4aa13f280fc.woff')
      format('woff'),
    url('/fonts/mont/heavy/38d16ae93a514dfd43dfd4aa13f280fc.ttf')
      format('truetype');
}
